* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  background-color: var(--background-color);
  font-size: 16px;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

img {
  object-fit: cover;
  object-position: center;
  display: block;
}

:root {
  /* ------------------------------- */
  /* Colors -> Typography -> Spacing -> Radius */
  /* ------------------------------- */

  /* Colors */
  --brand-color: #FAC30F;

  /* Color Background */
  --background-color: #F5F5F5;
  --background-secondary-color: #FAFAFA;

  /* Color Text */
  --text-color: #48494D;
  --text-secondary-color: #9c9b9b;

  /* Color Dividers / Lines */
  --divider-light-color: #EFEFF2;
  --divider-middle-color: #E5E5E5;

  /* Color Tags */
  --tag-1-background-color: #C35B01;
  --tag-2-background-color: #7D7D7D;
  --tag-3-background-color: #EBB400;

  /* Typography */
  --font-size-xs: 0.625rem;      /* 10px */
  --font-size-sm: 0.75rem;     /* 12px */
  --font-size-md: 0.875rem;         /* 14px */
  --font-size-lg: 1rem;     /* 16px */
  --font-size-xl: 1.125rem;      /* 18px */
  --font-size-2xl: 2.125rem;      /* 34px */

  /* Spacing Padding / Margin */
  --spacing-xs: 0.375rem;        /* 6px */
  --spacing-sm: 0.625rem;       /* 10px */
  --spacing-md: 0.875rem;          /* 14px */ 
  --spacing-lg: 1.375rem;        /* 22px */
  --spacing-xl: 1.875rem;          /* 30px */
  --spacing-2xl: 3.875rem;         /* 62px */
  --spacing-4xl: 9.875rem;         /* 158px */

  /* Border radius */
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;

  /* Responsive dispositives */
  --movile-breakpoint: 768px;
  --tablet-breakpoint: 1100px;
}

/* ------------------------------- */
/* BUTTONS */
/* ------------------------------- */
button {
  cursor: pointer;
  border: none;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
  border-radius: var(--border-radius-xs);
}



/* ------------------------------- */
/* TYPOGRAPHY UTILS */
/* ------------------------------- */

/* Sizes */
.text-xs  { font-size: var(--font-size-xs); }
.text-sm  { font-size: var(--font-size-sm); }
.text-md  { font-size: var(--font-size-md); }
.text-lg  { font-size: var(--font-size-lg); }
.text-xl  { font-size: var(--font-size-xl); }
.text-2xl { font-size: var(--font-size-2xl); }

/* Weights */
.font-bold { font-weight: 600; }
.font-medium { font-weight: 500; }
.font-regular { font-weight: 400; }
.font-light { font-weight: 300; }

/* Colors / Opacity */
.text-primary { color: var(--text-color) !important; }
.text-secondary { color: var(--text-secondary-color); }



/* ------------------------------- */
/* Header */
/* ------------------------------- */
.main-header {
  width: 100%;
  padding: var(--spacing-md) var(--spacing-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3C3C3C;
  color: #D4D4D4;

  & img {
    height: 3rem;
    object-fit: contain;
  }
}
.user-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  & button {
    background: none;
    width: fit-content;

    & svg {
      width: 1rem;
      stroke: #D4D4D4;
    }
  }
}



/* ------------------------------- */
/* Scroll */
/* ------------------------------- */
.container-scrollbar {
  overflow-y: overlay; 
  
  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--divider-middle-color);
    border-radius: 999px;
  }
}