.chart-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  & .chart-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .progress-ring {
    transform: rotate(-145deg);
    
    & circle {
      transition: stroke-dashoffset 0.35s;
    }
  }
}
