.container {
  width: 2rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: var(--text-color);
  background-color: var(--brand-color);

  & svg {
    width: 1.25rem;
    height: 1.25rem;
    stroke: var(--text-color);
  }
}